server:
  port: 8888

spring:
  application:
    name: sct-config
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config/

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://sct-eureka:8761/eureka/
